<!DOCTYPE html>

<html>
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
<head>

</head>

<body>
    <div class='main-content'>
        {{>header}}
        <img  class='portrait' src="/img/Raj.jpg">

    </div>
    
    {{>footer}}
</body>
</html>